<h1>Games</h1>
<div class="game-window border">
  <div class='border timer'>
    <h3>Timer:<span id='timer'>00:00</span></h3>
    <div class='action'>
          <h2>Player1: <span id='player1'>0</span> || Player2: <span id='player2'>0</span></h2>
          <h1 id='word'>Word </h1>
    </div>
  </div>

  <div class="border player1">
    player 1
  </div>
  <div class="border player2">
    player 2
  </div>
</div>
<div class='border chat'>
  <input type='text' id='chat-box'>
</div>
