<h1>Games</h1>
<div class="game-window border">
  <div class='border timer'>
    <h3>Timer:<span id='timer'>00:00</span></h3>
  </div>
  <div class='action'>
    check it out
  </div>
  <div class="border player1">
    player 1
  </div>
  <div class="border player2">
    player 2
  </div>
</div>
<div class='border chat'>
  <input type='text' id='chat-box'>
</div>
